<div class="container">
  <div class="upload-section">
    <h2>Upload an Image</h2>
    <p>Select an image to upload:</p>
    <label *ngIf="selectedFiles.length == 0" for="file-upload" class="file-upload-label"
    >Choose a file</label
    >
    <input
      type="file"
      id="file-upload"
      multiple
      (change)="onFileSelected($event)"
      class="file-upload-input"
    />
    <button
      class="upload-btn"
      (click)="uploadImages()"
      [disabled]="!selectedFiles || isLoading"
    >
      Upload
    </button>

    <p *ngIf="selectedFiles.length > 0" class="file-info">
      Selected Files:
    </p>
    <ul *ngIf="selectedFiles.length > 0">
      <li *ngFor="let file of selectedFiles">
        {{ file.name }}
      </li>
    </ul>

    <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>
  </div>

  <div class="search-section">
    <h2>Search Images</h2>
    <p>Enter a keyword to search for images:</p>
    <input
      [(ngModel)]="searchQuery"
      class="search-input"
      placeholder="Enter search query"
    />
    <button
      class="search-btn"
      (click)="searchImages()"
      [disabled]="!searchQuery.trim()"
    >
      Search
    </button>

    <div *ngIf="searchResults.length > 0" class="search-results">
      <div *ngFor="let result of searchResults">
        <img [src]="result.url"
          alt="Search Result"
        />
      </div>
    </div>
    <p
      *ngIf="searchResults.length === 0 && searchQuery.trim()"
      class="no-results"
    >
      No results found.
    </p>
  </div>
  <div class="container all-images-section">
    <h2>All Uploaded Images</h2>
    <div *ngIf="allImages.length > 0">
      <div *ngFor="let image of allImages">
        <img [src]="image.url" alt="Uploaded image"
        />

      </div>
    </div>
    <p *ngIf="allImages.length === 0">No images have been uploaded yet.</p>
  </div>
</div>

<router-outlet></router-outlet>


